@import './fonts';
@import './base';
@import './tailwind';

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sen', sans-serif;
    font-family: 'Inter', sans-serif;
  }

  .containet {
    @apply max-w-[1440px]
  }
}